<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div>
    <label>Enter email address</label>
    <input type="email" formControlName="email" />
    <div
      *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched"
    >
      <span *ngIf="loginForm.get('email')?.errors?.['required']"
        >Email is required</span
      >
      <span *ngIf="loginForm.get('email')?.errors?.['email']"
        >Invalid email format</span
      >
    </div>
  </div>
  <div>
    <label>Enter password</label>
    <input type="password" formControlName="password" />
    <div
      *ngIf="
        loginForm.get('password')?.invalid && loginForm.get('password')?.touched
      "
    >
      <span *ngIf="loginForm.get('password')?.errors?.['required']"
        >Password is required</span
      >
      <span *ngIf="loginForm.get('password')?.errors?.['minlength']"
        >Minimum 6 characters</span
      >
    </div>
  </div>
  <button type="submit">Submit</button>
</form>
